<!DOCTYPE html>
<html>
<head>
    <title>The Game</title>
	<meta charset="utf-8" />
    <link href="../assets/text/roboto.css" rel="stylesheet" />
    <link href="../assets/icons/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../css/base.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <ul class="menu">
                <li class="menu-item"><span class="title">Home</span></a></li>
                <ul class="menu-right">
                    <li class="menu-item"><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
                    <li class="menu-item"><a href="#"><i class="fa fa-trophy fa-lg"></i></a></li>
                    <li class="menu-item"><img class="img avatar" src="../assets/images/user.jpg"/><span class="welcome-user">Hi Akshay</span></a></li>
                </ul>
            </ul>
        </div>
        <div class="content">
            <span>for super admin and user roles, your html code will start from here</span>
            <div class="progress">Progress bar shown to admin this container is 50px in height</div>
            <div class="createAppContainer">
                create app content
                this container is 440px in height
            </div>
        </div>
    </div>
    <script src="../scripts/script.js"></script>
</body>
</html>
